---
import "../styles/global.css";
import ArrowIcon from "../components/ArrowIcon";
import ReactLogo from "../assets/react.svg";
import SpringLogo from "../assets/spring.svg";
import NextLogo from "../assets/next-js.svg";
import KotlinLogo from "../assets/kotlin.svg";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Technology</title>
    </head>
    <body class="bg-black">
        <ArrowIcon />
        <h1
            class="rounded-lg px-3 py-3 text-white text-6xl font-gotham animate-fade-in-text flex sm:justify-center space-x-4 tracking-wider"
        >
            TECHNOLOGY
        </h1>
        <div
            class="rounded-lg px-3 py-3 text-white text-2xl font-futura animate-fade-in-text flex-col"
        >
            <p class="flex justify-center">
                Tools and technologies I have used.
            </p>
            <div class="flex items-center text-center flex-col">
                <div class="flex flex-row">
                    <img src={ReactLogo.src} alt="React Logo" />
                    <img src={NextLogo.src} alt="Next Logo" />
                </div>
                <div class="flex flex-row">
                    <img src={SpringLogo.src} alt="Spring Logo" />
                    <img src={KotlinLogo.src} alt="Kotlin Logo" />
                </div>
            </div>
        </div>
    </body>
</html>
